{% extends "basemap.html" %}

{% block title %}Alaska Carbon Exchange :: Region :: {{ region['name'] }}{% end %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Regions</a></li>
      <li><a href="#" id="state">{{ state }}</a></li>
      <li class="current" id="region-li"><a href="#" id="region">{{ region['name'] }}</a></li>
  </ul>
{% end %}

{% block precontent %}
  <div class="panel">
    <h3>Be an eco hero!</h3>
    <h5 class="subheader">There's a great way to protect the environment right after the button below!</h5>
    <a class="button" href="/purchase">Protect the environment by holding land &raquo;</a>
  </div>
{% end %}

{% block region_poly_options %}
                            if(obj.slug == "{{ region['slug'] }}"){
                                stroke_color = "#990000";
                                region_zindex = 5;
                            };
{% end %}

{% block region_click_listener %}
                            window.location.href = "/region/" + this.that.slug;
{% end %}

{% block region_mouseover_listener %}
                            this.setOptions({'strokeWeight': region_stroke_weight_at_zoom(themap.getZoom() + 2)});
                            jQuery("#region").html(this.that.name + " <b>(Click the region for more information)</b>");
                            jQuery("#region-li").toggleClass('unavailable');
                            jQuery("#region-li").toggleClass('current');
{% end %}

{% block region_mouseout_listener %}
                            this.setOptions({'strokeWeight': region_stroke_weight_at_zoom(themap.getZoom())});
                            jQuery("#region").text("{{ region['name'] }}");
                            jQuery("#region-li").toggleClass('unavailable');
                            jQuery("#region-li").toggleClass('current');
{% end %}


{% block region_map_init_script %}
                var sw = new google.maps.LatLng({{ envelope[2] }}, {{ envelope[0] }});
                var ne = new google.maps.LatLng({{ envelope[3] }}, {{ envelope[1] }});
                var swne = new google.maps.LatLngBounds(sw, ne);
                console.log(swne);
                map.fitBounds(swne);
                map.panToBounds(swne);
{% end %}
